html{
  font-family: 'Roboto Slab';
  color: #7f78d2;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #481380;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ffe2ff;
  text-align: center;
}

.dice-container{
  background-color: transparent;
  border: none;
}

.button{
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #7f78d2;
  border-color: #7f78d2;
  color: #ffe2ff ;
}

.button:hover{
  border-color: #7f78d2;
  background-color: #ffe2ff;
  color: #7f78d2;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#scoreboard td, #scoreboard th {
  border: 1px solid #7f78d2;
  padding: 8px;
  background-color: #ffe2ff;
}
